#editor tmp files
*~

#build results
build/

#python compiled
*.pyc

#log files
*.log
*.pcap

#DB files
*.sqlite

external/SQLAlchemy-0.7.9/dist/
external/SQLAlchemy-0.7.9/lib/SQLAlchemy.egg-info/SOURCES.txt
